.modal-dialog
  .modal-content
    .modal-header
      %h5.modal-title
      = (params[:action] == 'new' ? 'Add Member' : 'Edit Member')
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
    .modal-body
      .row
        .col-sm-12
          .card-body
            = form_with model: @member do |form|
              .form-group.m-t-40.row
                = form.label :name, 'Name:'
                = form.text_field :name, class:'form-control'

              .form-group.m-t-40.row
                = form.label :email, 'Email:'
                = form.text_field :email, class:'form-control'

              .form-group.m-t-40.row
                = form.label :phone_number, 'Phone Number:'
                = form.text_field :phone_number, class:'form-control'

              .form-group.m-t-40.row
                .col-md-12
                  .text-center
                    = form.submit class: 'btn btn-success'


:javascript
  $('.close').click(function(){
    $('.modal').hide();
  });
